<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div class="container">
    <h3>Hello, оаоаоа</h3>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required >
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" required>
        </div>
        <div class="mb-3">
            <label for="countPages" class="form-label">Count pages</label>
            <input type="text" class="form-control" id="countPages" name="countPages" required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>

    <table class="table">
        <thead class="table-primary">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">CountPages</th>
            <th scope="col">Button</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="book:${books}">
        <tr>
            <th scope="row" th:text="${book.getId()}">Id</th>
            <td th:text="${book.getName()}">Name</td>
            <td th:text="${book.getAuthor()}">Author</td>
            <td th:text="${book.getCountPages()}">countPages</td>
            <td> <button type="button" class="btn btn-primary" th:onclick="|window.location.href='@{/book/{id}(id=${book.getId()})}'|">Edit</button> </td>
        </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>