<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div class="container" >
    <h3 th:text="${book.getName()}">nameBook</h3>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{book.getName()}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" th:value="*{book.getAuthor()}">
        </div>
        <div class="mb-3">
            <label for="countPages" class="form-label">Count pages</label>
            <input type="text" class="form-control" id="countPages" name="countPages" th:value="*{book.getCountPages()}">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>

    <form th:method="DELETE" th:action="@{/book/delete/{id}(id=${book.getId()})}">
        <input type="submit"  class="btn btn-danger mb-3" value="Delete">
    </form>
</div>

</body>
</html>